<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Finch</string>
	<key>uuid</key>
	<string>2DBB105D-C60A-49F5-BDF2-0F7286A200FF</string>
</dict>
</plist>
