body, code, h1, h2, h3, p, pre, tt {
  margin: 0;
  padding: 0;
}

body {
	color: #222;
}

h1 {
  font: 36px/48px Helvetica, Arial, sans-serif;
  margin: 48px 0 0 0;
  padding: 12px 0;
  text-transform: lowercase;
  text-align: right;
}

h2 {
  font: 22px/24px Helvetica, Arial, sans-serif;
  margin: 48px 0 18px 0;
}

h3 {
  font: bold 15px/24px Helvetica, Arial, sans-serif;
  margin: 36px 0 12px 0;
}

h1, h2, h3 {
  color: hsl(80, 80%, 30%);
}

a {
  color: #467d4a;
  text-decoration: none;
}

a:hover {
  color: #649453;
}

p, li {
  font: 15px/24px Helvetica, Arial, sans-serif;
  margin: 12px 0;
}

p + p {
  margin-top: 24px;
}

code, pre, tt {
  color: hsl(50, 10%, 30%);
  font: 14px monospace;
  background: hsl(60, 50%, 95%);
}

code {
  padding: 1px 2px;
  white-space: nowrap;
  border: solid 1px hsl(60, 50%, 85%);
  border-radius: 3px;
}

pre {
  margin: 12px 0;
  line-height: 18px;
  padding: 11px;
  border: solid 1px hsl(60, 50%, 85%);
  border-radius: 3px;
}

.content {
  margin: 0 auto;
  width: 600px;
}

.header, .footer {
  color: #666;
  font: 13px/24px Helvetica, Arial, sans-serif;
}

.header {
  margin: 0 0 24px 0;
}

.nav {
  margin: 0 0 48px 0;
  text-align: right;
  text-transform: lowercase;
}

.footer {
  text-align: right;
  margin: 48px 0;
}


/* syntax highlighting */

.codehilite pre span.c1 { color: hsl(50, 10%, 60%);    } /* line comment */
.codehilite pre span.cm { color: hsl(50, 10%, 60%);    } /* block comment */
.codehilite pre span.vg { color: #5d3a85; } /* global variable */
.codehilite pre span.vi { color: #784bab; } /* instance variable */
.codehilite pre span.k  { color: hsl(200, 80%, 40%); } /* keyword message */
.codehilite pre span.p  { color: #777;    } /* punctuation ()[]{} */
.codehilite pre span.s  { color: #bd8c11; } /* string */
.codehilite pre span.se { color: #c97526; } /* string escape */
.codehilite pre span.nb { color: #30a138; } /* built-in name: self undefined */
.codehilite pre span.o  { color: #30a138; } /* built-in operator <- <-- */
.codehilite pre span.kd { color: #8cd1b2; } /* keyword decl (arg list |) */
.codehilite pre span.nv { color: #24a36a; } /* argument name */
.codehilite pre span.ow { color: #30a186; } /* user-defined operator */
.codehilite pre span.mi { } /* number */
.codehilite pre span.n  { }  /* name */

/*
body {
  background: -webkit-linear-gradient(
    top, #eee 0, #fff 10%, #fff 90%, #eee 100%);
  background-size: 24px 24px;
  background-repeat: repeat;
}

h1, h2, h3 {
  border-left: solid 4px red;
}

p {
  border-left: solid 4px blue;
}

pre {
  border-left: solid 4px green;
}
*/