body, code, h1, h2, h3, p, pre, tt {
  margin: 0;
  padding: 0;
}

body {
	color: #333;
  background: #f0f8ff;
}

h1 {
  color: #3a5c54;
  font: 48px/48px Copse, Georgia, serif;
  margin: 48px 0 0 0;
  padding: 12px 0;
  text-transform: lowercase;
  text-align: right;
}

h2 {
  color: #3a5c54;
  font: 28px/48px Copse, Georgia, serif;
  margin: 48px 0 24px 0;
}

h3 {
  color: #3a5c54;
  font: 20px/24px Copse, Georgia, serif;
  margin: 24px 0;
}

a {
  color: #467d4a;
  text-decoration: none;
}

a:hover {
  color: #649453;
}

p, li {
  font: 16px/24px Rosario, 'Lucida Grande', sans-serif;
  margin: 24px 0;
}

code, pre, tt {
  color: #666;
  font: 13px/24px Monaco, Consolas, Menlo, monospace;
}

code {
  padding: 0 2px;
}

pre {
  margin: 24px 0 24px 48px;
}

.content {
  margin: 0 auto;
  width: 700px;
}

.header, .footer {
  color: #666;
  -background: #6d7e5b;
  font: 14px/24px Mako, 'Lucida Grande', sans-serif;
}

.header {
  margin: 0 0 24px 0;
  -padding: 0 24px 24px 24px;
  -border-bottom-left-radius: 4px;
  -border-bottom-right-radius: 4px;
}

.nav {
  margin: 0 0 48px 0;
  text-align: right;
}

.footer {
  text-align: right;
  margin: 48px 0;
}


/* syntax highlighting */

.codehilite pre span.c1 { color: #999;    } /* line comment */
.codehilite pre span.cm { color: #999;    } /* block comment */
.codehilite pre span.vg { color: #5d3a85; } /* global variable */
.codehilite pre span.vi { color: #784bab; } /* instance variable */
.codehilite pre span.k  { color: #008ac9; } /* keyword message */
.codehilite pre span.p  { color: #777;    } /* punctuation ()[]{} */
.codehilite pre span.s  { color: #bd8c11; } /* string */
.codehilite pre span.se { color: #c97526; } /* string escape */
.codehilite pre span.nb { color: #30a138; } /* built-in name: self undefined */
.codehilite pre span.o  { color: #30a138; } /* built-in operator <- <-- */
.codehilite pre span.kd { color: #8cd1b2; } /* keyword decl (arg list |) */
.codehilite pre span.nv { color: #24a36a; } /* argument name */
.codehilite pre span.ow { color: #30a186; } /* user-defined operator */
.codehilite pre span.mi { } /* number */
.codehilite pre span.n  { }  /* name */

/*
body {
  background: -webkit-linear-gradient(
    top, #eee 0, #fff 10%, #fff 90%, #eee 100%);
  background-size: 24px 24px;
  background-repeat: repeat;
}

h1, h2, h3 {
  border-left: solid 4px red;
}

p {
  border-left: solid 4px blue;
}

pre {
  border-left: solid 4px green;
}
*/